/*HEADER*/

body {
	background-image: url(../img/subtle_dots.png);
	background-repeat: repeat;
}

#logo h1{
	text-indent: -9999px;
}

#logo a{
	background: url(../img/csg-50f7216aacbc5_sm.png) 0 100px;
	outline: none;
	display: block;
	width: 140px; 
	height: 100px;
}

#logo a:hover {
	background: url(../img/csg-50f7216aacbc5_sm.png) 0 254px;
	width: 140px;
	height: 100px;
}

hr.style-top {
    height: 6px;
    border-style: solid;
    border-color: #ff1e25;
    border-width: 5px 0 0 0;
}

hr.style-bottom {
	margin-top: 60px;
    height: 6px;
    border-style: solid;
    border-color: #f21b76;
    border-width: 5px 0 0 0;
}

.tagline {
	font-size: 3em;
}

/*NAVIGATION*/

#nav {
	margin: 25px 28px 0 0;
}

#nav ul {
	text-align: right;
	font-weight: bolder;
	font-size: 1.2em;
	list-style-type: none;
	margin:0;
	padding:0;
}

#nav li {
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 15px;
}

#nav a:link {
	color: black;
	text-decoration: none;
	font-style: normal;
}

#nav a:hover {
	color: #ff1e25;
}



/*BODY*/

#camera_wrap_1 {
	margin-top: -30px;
}

.desc {
	text-align: center;
}


.circle p {
	margin-top: 1.5em;
	text-align: center; 
	line-height: 90px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.circle a {
	background: url(../img/sprites.png) 0 185px;
	outline: none;
	display: block;
	width: 90px; 
	height: 90px;
	margin-top: -20px;
}

.circle a:hover{
	background: url(../img/sprites.png) 0 90px;
}



/*ANCHOR TAGS
*/

a:link
{
color: #ededed;
text-decoration: none;
font-style: normal;
}

a:visited
{
color: #333434;
}

a:hover
{
color: #faffff;
}

a:active
{
color: white;
}

#last {
	margin-bottom: 35px;
}

#last1 {
	margin-bottom: 260px;
}

.coloredlink {
	color: #f21b76;
	text-decoration: underline;
}

/*-------------------------------------
FORM CORE
------------------------------------------*/

form#contact fieldset {
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 0px 10px #d3d3d3; 
	-webkit-box-shadow: 0px 2px 10px #d3d3d3; 
	box-shadow: 0px 0px 10px #d3d3d3; 
}

form#contact input[type="text"], input[type="url"], 
input[type="email"], input[type="tel"], textarea {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 260px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact textarea {
	width: 275px; 
	height: 150px;
}

form#contact label {
	display: block;
	font-size: 13px;
	color: #666;
	margin-top: 10px;
	font-weight: bold;
}

form#contact label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

form#contact .placeholder {
	color: #aaa;
}

form#contact .button {
	display: inline-block;
	position: relative;
	top: 15px;
	left: 70px;
	margin-bottom: 20px;
	padding: 5px 15px 5px 15px;
	background-color: #f21b76;
	border: none;
	color: #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

form#contact .button:hover {
	background-color: #ff1e25;
	cursor: pointer;
}

form#contact .button:active {
	background-color: #ff1e25;
	cursor: pointer;
}



blockquote p { margin-bottom: 10px; font-style: italic; 

}

blockquote cite { font-style: normal; display: block; text-align: right; text-transform: uppercase; font-size: 10px; font-weight: bold; letter-spacing: 1px; font-family: Arial, Helvetica, sans-serif; 
}

/*
 |	Setting the width for the blockquotes is required
 |	to accurately adjust it's contianer
*/

blockquote {
	font-family: Georgia, Times, serif;
	width: 300px; /* required */
	margin: 0 auto;
	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/

#quote_wrap { 
	background: #f2c1d6 no-repeat 20px 20px;
	margin: 40px 0; padding: 20px; border: 1px solid #f21b76;
	}
